type project
developmentDependency true
projectUrl https://github.com/DotNetAnalyzers/ReflectionAnalyzers
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  Fix for REFL004
  BUGFIX REFL004 with indexers.

excludedgroups
  Main
  Analyzers

files
  bin/Release/Gu.Roslyn.Extensions.dll ==> analyzers/dotnet/cs
  ../.paket/tools/*.ps1 ==> tools

