type project
developmentDependency true
projectUrl https://github.com/DotNetAnalyzers/ReflectionAnalyzers
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  REFL038 prefer RuntimeHelpers.RunClassConstructor.
  REFL004 handle static ctor.
  REFL037 handle assembly.GetType

excludedgroups
  Main
  Analyzers

files
  bin/Release/Gu.Roslyn.Extensions.dll ==> analyzers/dotnet/cs
  ../.paket/tools/*.ps1 ==> tools

